header{
	background-color: #e06304;
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 94px;
	color:#d4fcfc;
}
header img{
border-radius: 100px;
}
/*<header>
		<img src="https://scontent-lga3-1.cdninstagram.com/vp/ee5c9b1623541c07d410b982e664d39c/5C018174/t51.2885-19/s150x150/29417199_2086870631558393_1006364485889294336_n.jpg">
		<h1>Hi.. Im Dan AKA DMC1UP</h1>
		</header>*/